:root {
  // BG
  --bg-color-sidebar: #202225;
  --bg-color-chat-side: #2f3136;
  --bg-color-chat: #36393f;
  --bg-color-light: #474a52;

  // FONT
  --font-color-main: #b9b9bb;
  --font-color-unselected: #9f9e9e;

  // OTHER
  --green-color: #43b581;
  --blue-color: #2e7dbe;
}
